:root {
    --tile-size: 47px;
    --tile-space: 5px;
    --board-width: 14;
    --board-height: 10;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.game-container {
    text-align: center;
}

h1 {
    font-size: 24px;
}

.play-area {
    position: relative;
    margin-top: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 80px;
    background-color: rgb(133 206 239 / 66%);
    color: #d85e01;
    font-size: 72px;
    font-weight: bold;
    text-shadow: #d85e01a8 2px 2px 16px;
}

.game-board {
    position: relative;
    padding: 5px;
    background-color: skyblue;
}

.tile {
    width: 48px;
    height: 48px;
    background-color: #ccc;
    background-image: url('sprites.png');
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    animation-fill-mode: forwards;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.tile.selected {
    background-color: red;
}

.tile.moving {
    z-index: 1;
}
.tile.empty {
    opacity: 0;
    cursor: default;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button.disabled {
    opacity: 0.6;
}

#restartButton {
    background-color: #007bff;
}

#restartButton:hover {
    background-color: #0056b3;
}

#timer-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 计时条占据整个游戏面板宽度 */
    height: 10px; /* 计时条高度 */
    background-color: green; /* 初始时计时条颜色 */
    transition: width 1s linear; /* 过渡效果，宽度每秒逐渐变化 */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: bottom 0.3s linear;
}
